/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif; /* Example of setting a global font */
  background-color: #f8f9fa; /* Light background for the body */
}

a {
  color: inherit; /* Inherit text color for links by default */
  text-decoration: none; /* Remove default link underline */
}

* {
  box-sizing: border-box; /* Ensure consistent padding/margin behavior */
}


/* change base button hover effects */
.btn {
  @apply hover:shadow-lg hover:scale-105 transition-transform duration-200 hover:font-bold;
}

.menu-link {
  @apply hover:bg-transparent hover:font-bold  after:absolute after:w-full after:h-0.5 after:bg-primary after:left-0 after:bottom-0 after:scale-x-0 hover:after:scale-x-100 after:transition-transform;
}